/*RODAPÉ */
footer{
    clear: both;
    color: #fff;
    margin: 0 auto;
    margin-top: 200px;
    font-size: 0.95em;
    padding: 5px;
    text-align: center;
    height:250px;
    margin: 36px 5px 0px 5px;
    
}
#criador{
    margin: 8px;
}
footer p{
    margin-top: 150px;
}
.tooltip{
    -moz-border-radius: 9px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
}

.dados-rodape{
    margin: 0;
    display: inline;
}
.dados-rodape ul li{
    margin:0;
    display: inline;
    text-decoration: none;
    
}
.dados-rodape .title li{
    margin: 0px;
    display: inline;
}
.title{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color:goldenrod;
    display: inline;
    text-align: center;
}
.fundacao{
    float: left;
    margin-left: 20px;
}
.parcerias{
    margin-top: 0px;
    float: right;
    margin-right: 210px;
}
.estabelecimentos{
    float: left;
    margin-left: 210px;
}
.contato{
    width: 240px;
    float: right;
    margin-right: 20px;
}
.dados-rodape ul{
    text-align: left;
}
.conteudo-rodape{
    margin: 0 auto; 
    text-orientation: inherit;
    text-align: left;
    overflow: hidden;

}
